:root {
    --: hsl(0 93.3% 94.1%);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}




html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;

}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #000;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);

}

.heading span {
    color: hsl(0, 90%, 88%);
}

.btn {
    display: inline-block;
    margin-top: -1rem;
    border-radius: 5rem;
    background: hsl(0 93.3% 94.1%);
    color: #000;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: pink;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: hsl(0 93.3% 94.1%);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: hsl(0, 90%, 88%);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #000;
    box-shadow: 0 0px 30px rgba(227, 228, 237, 0.37);

}

header .navbar a:hover {
    color: hsl(0, 90%, 88%);
}

header .navbar select {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #000;
    border: none;
    background-color: transparent;
    box-shadow: 0 0px 30px rgba(227, 228, 237, 0.37);
    cursor: pointer;
}

header .navbar select:hover {
    color: hsl(0, 90%, 88%);
}

header .navbar select option {
    padding: 0 1.5rem;
    background-color: hsl(0 93.3% 94.1%);
    ;
    color: #000;
}

header .navbar select option:hover {
    background-color: hsl(0, 90%, 88%);
    color: #fff;
}

header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: hsl(0, 90%, 88%);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}


.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(assest/img/premium_photo-1683121484963-a491b935780b.avif) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}



.center {

    text-align: center;
}

.home .content {
    max-width: 100rem;
}

.home .content h3 {
    font-size: 6rem;
    color: hsl(0 93.3% 94.1%);
    text-align: center;
}

.home .content span {
    font-size: 3.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.9;
    align-items: center;
}

.home .content p {
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
    text-align: center;
}



.story .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    pad: 2rem 0;
    padding-bottom: 3rem;

}



.story .row .content {
    flex: 1 1 40rem;
    text-align: center;
}

.story .row .content h3 {
    font-size: 3rem;
    color: #333;

}

.story .row .content p {
    font-size: 1.5rem;
    color: #333;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;

}

.Products .row .content {
    flex: 1 1 40rem;
    text-align: end;
}




/* Cards Start */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;

}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 200px;
    background: hsl(0 93.3% 94.1%);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.container .card:hover {
    height: 200px;
}

.container .card .imgBx {
    position: absolute;
    width: 200px;
    height: 150px;
    background: hsl(0, 90%, 88%);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 0 30px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content {
    height: 250px;
    top: 100px;
}

.container .card .content h1 {
    font-size: 0.5cm;
    font-weight: 300;
    color: black;
}

.container .card .content h3 {
    font-size: 0.4cm;
    font-weight: 300;
    color: black;
}

.container .card .content ol {

    color: black;
}

.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    text-decoration: n;
}

.flowers .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    pad: 2rem 0;
    padding-bottom: 3rem;
}

.flowers .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}

.flowers .row .img-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    object-fit: cover;
}

.flowers .row .img-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: #fff;
}


.flowers .row .content {
    flex: 1 1 40rem;
}

.flowers .row .content h3 {
    font-size: 3rem;
    color: #000;
}

.flowers .row .content p {
    font-size: 1.5rem;
    color: #000;
}





.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}


.footer .box-container .box a:hover {
    color: hsl(0, 90%, 88%);
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: hsl(0, 90%, 88%);
}


/* media queries*/
@media (max-width:991px) {

    html {
        font-size: 55%
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: center;
    }

}

@media (max-width:768px) {
    html .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        ;
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgb(0, 0, 0, .1);
        display: block;
    }

    .home.content h3 {
        font-size: 5rem;

    }

    .home.content span {
        font-size: 2.5rem;

    }

    .icons-container .icons h3 {

        font-size: 2rem;
    }


    .icons-container .icons span {
        font-size: 1.7rem;
    }
}


@media (max-width:450px) {

    html {
        font-size: 50%
    }

    .heading {
        font-size: 3rem;
    }

}